h1, h2, h3, h3 a {
    color: #111
}

h1, h2, h3, p, ul {
    margin: 0
}

.header-search .search-box:focus, a:focus, button:focus, input:focus, select:focus, textarea:focus {
    outline: 0
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: #868686;
    line-height: 1.5;
    letter-spacing: .05em
}

h1, h2, h3 {
    font-family: 'Lora', serif
}

h3 {
    font-size: 16px;
    text-transform: uppercase
}

.navbar-nav li a, .tg-btn {
    font-size: 12px;
    text-transform: uppercase
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

a, h1, h2, h3, input, p {
    transition: all .3s
}

a:hover {
    text-decoration: none
}

h3 a:hover, span.price {
    color: #ddbe86
}

ul {
    padding: 0
}

li {
    list-style: none
}

span.price {
    font-weight: 700
}

select {
    color: #666
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #666
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #666
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #666
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #666
}

input[type=number]::-webkit-inner-spin-button {
    cursor: pointer;
    display: block;
    width: 15px;
    color: #999;
    background-color: #eee;
    text-align: center;
    position: relative;
    padding: 0 6px 0 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    opacity: 1
}

.tg-btn {
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: .1em;
    background-color: #ddbe86;
    border: 1px solid #ddbe86;
    color: #fff !important;
    display: inline-block;
    white-space: nowrap
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .tg-btn:hover {
    background-color: transparent
}

.tg-btn:hover {
    color: #ddbe86 !important;
    border-color: #ddbe86
}

.header {
    border-bottom: 1px solid #eee
}

.header .logo {
    padding: 60px 0;
    text-align: center
}

.header .logo img {
    margin-left: auto;
    margin-right: auto;
    width: 385px;
}

.nav li.dropdown ul.dropdown-menu li:first-child, .navbar-nav li:first-child {
    margin-left: 0
}

.navigation {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.navbar {
    margin-bottom: 0;
    border: 0
}

.yamm .collapse, .yamm .dropdown, .yamm .dropup, .yamm .nav {
    position: static
}

.yamm .container {
    position: relative
}

.yamm .dropdown-menu {
    left: auto
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0
}

.navbar-collapse {
    padding: 0
}

.navbar-nav li a {
    padding: 20px 0;
    color: #111
}

.nav li.dropdown ul.dropdown-menu li a:focus, .nav li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu li a:focus, .navbar-nav li a:focus, .navbar-nav li a:hover {
    color: #ddbe86;
    background-color: transparent
}

.nav li.dropdown ul.dropdown-menu {
    border-top: 1px solid #ddbe86;
    border-bottom: 1px solid #ddbe86;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-radius: 0;
    margin-top: 1px;
    letter-spacing: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0
}

.nav li.dropdown ul.dropdown-menu li {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #f8f8f8
}

.nav li.dropdown ul.dropdown-menu li a {
    padding: 12px 20px;
    text-transform: none;
    font-size: 14px;
    color: #666
}

.nav li.dropdown ul.dropdown-menu li a:hover {
    color: #ddbe86
}

.nav li a:focus {
    background: 0 0
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #666;
    text-decoration: none;
    background-color: #fff;
    outline: 0
}

.dropdown-menu-icon-level-2 {
    position: absolute;
    right: 20px;
    font-size: 18px
}

.nav li.dropdown ul.dropdown-menu .mega-menu-post a {
    padding: 0
}

.nav li.dropdown ul.dropdown-menu .mega-container .mega-menu-post h3 {
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.3em
}

.nav li.dropdown ul.dropdown-menu .mega-container .mega-menu-post h3 a {
    font-size: 16px
}

.nav li.dropdown ul.dropdown-menu .mega-container .mega-menu-post .date {
    font-size: 12px;
    color: #999;
    margin-top: 10px
}

.tabs-left > li.active > a, .tabs-left > li.active > a:focus, .tabs-left > li.active > a:hover, .tabs-left > li > a:focus, .tabs-left > li > a:hover {
    border: 1px solid transparent
}

.shop-mega-menu .mega-container .nav-tabs li {
    padding: 8px 0 !important;
    border-left: none !important;
    border-right: none !important
}

.shop-mega-menu .mega-container .nav-tabs li a {
    padding: 0 !important
}

.nav-tabs {
    border-bottom: 1px solid transparent
}

.shop-mega-menu .mega-container .nav-tabs li:first-child {
    border-top: 1px solid #f8f8f8
}

.shop-mega-menu .mega-container .menu-cart span {
    border-right: 1px solid #b3b3b3;
    padding: 0 10px 0 25px;
    position: relative
}

.shop-mega-menu .mega-container .menu-cart p {
    margin: 20px 0
}

.shop-mega-menu .mega-container .menu-cart p a {
    color: #ddbe86 !important
}

.shop-mega-menu .mega-container .menu-cart p a:hover {
    color: #868686 !important
}

.shop-mega-menu .mega-container .menu-cart span:before {
    font-family: FontAwesome;
    content: '\f07a';
    position: absolute;
    left: 0
}

.shop-mega-menu .product-item .thumb-img {
    background-color: #f7f7f7;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: 250px;
    align-items: center;
    position: relative
}

.shop-mega-menu .product-item .thumb-img .add-to-cart {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 50%;
    margin-top: -15px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease
}

.shop-mega-menu .product-item .thumb-img:hover .add-to-cart {
    opacity: 1;
    visibility: visible
}

.shop-mega-menu .product-item .add-to-cart a {
    font-size: 14px !important;
    text-transform: uppercase !important;
    color: #fff !important
}

.shop-mega-menu .product-item .thumb-img:before {
    content: '';
    cursor: pointer;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all .3s ease
}

.shop-mega-menu .product-item .thumb-img:hover:before {
    background-color: rgba(0, 0, 0, .7)
}

.shop-mega-menu .product-item .thumb-img img {
    margin-left: auto;
    margin-right: auto;
    z-index: 1
}

.navbar-toggle {
    margin: 8px 5px 28px 0
}

.navbar-toggle .icon-bar {
    background: #111
}

.dropdown-menu {
    position: static;
    display: none;
    float: none
}

.slider-main, .slider-wrapper {
    width: 100%;
    position: relative
}

.post-footer .post-comment-count, .widget-recent-post .post-img {
    float: left
}

.header-social .header-social-list {
    margin-bottom: 0
}

.header-social .header-social-list-item {
    margin-right: 10px
}

.header-social .header-social-list-item:last-child {
    margin-right: 0
}

.header-social .header-social-list-item a {
    color: #ccc;
    font-size: 16px
}

.header-social .header-social-list-item a:hover {
    color: #ddbe86
}

.header-search .search-form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.header-search .search-form label, .product-search .search-form label {
    display: none
}

.header-search .search-box {
    width: 100%;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    padding: 0;
    margin-bottom: 3px
}

.header-search .search-btn {
    display: table-cell;
    vertical-align: bottom;
    border: none;
    margin-left: 5px;
    background-color: transparent
}

.header-search .search-btn .fa-search {
    color: #ddbe86;
    font-size: 15px
}

.slider {
    margin-top: 40px;
    margin-bottom: 30px
}

.slider-wrapper {
    padding: 0
}

.audio:after, .tp-leftarrow:before, .tp-rightarrow:before, .video:after {
    font-family: FontAwesome;
    position: absolute;
    text-align: center
}

.sw-cat, .sw-cat a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400
}

.sw-cat a:hover, .sw-title a:hover {
    color: #ddbe86
}

.sw-button a {
    background-color: #ddbe86;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    border: 1px solid #ddbe86
}

.sw-button a:hover {
    background-color: transparent !important;
    color: #ddbe86
}

.slotholder {
    background: rgba(0, 0, 0, .3);
    z-index: 1
}

.tp-bgimg {
    z-index: -1
}

.slider-arrows {
    background: 0 0 !important
}

.tp-leftarrow:before, .tp-rightarrow:before {
    display: inline-block;
    left: 0;
    font-size: 28px;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 36px
}

.tp-leftarrow:before {
    content: '\f104' !important
}

.tp-rightarrow:before {
    content: '\f105' !important
}

.tp-bannertimer {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important
}

.content-area {
    margin-bottom: 80px
}

.post-item {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee
}

.main-content {
    margin-top: 60px
}

.audio:after, .video:after {
    color: #ddbe86;
    font-size: 24px;
    background-color: #fff;
    line-height: 60px;
    right: 35px;
    top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1
}

.mega-container .audio:after, .mega-container .video:after {
    font-size: 18px;
    line-height: 50px;
    right: 25px;
    top: 10px;
    width: 50px;
    height: 50px
}

.audio:after {
    content: '\f001'
}

.video:after {
    content: '\f03d'
}

.content-area .breadcrumb {
    font-family: 'Lora', serif;
    font-size: 16px;
    text-transform: uppercase;
    background: 0 0;
    padding: 0;
    margin: 0 0 40px
}

.content-area .breadcrumb li a {
    color: #111
}

.content-area .breadcrumb li.active {
    color: #ddbe86
}

.post-item {
    margin-bottom: 60px
}

.thumb-img {
    margin-bottom: 30px
}

.post-content, .post-header, .post-time, .read-more {
    text-align: center
}

.grid-style-post .post-time, .list-style-post .post-content, .list-style-post .post-header, .list-style-post .post-time, .list-style-post .read-more {
    text-align: left
}

.post-header .post-categoris a {
    background-color: #ddbe86;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px 20px 0
}

.post-header .post-title {
    margin-bottom: 20px;
    letter-spacing: .05em
}

.post-header .post-title a {
    color: #111
}

.post-header .post-title a:hover {
    color: #ddbe86
}

.post-time .time {
    color: #999;
    font-size: 13px
}

.small-underline {
    width: 70px;
    height: 1px;
    background-color: #eee;
    margin: 20px auto
}

.slide .left-arrow, .slide .right-arrow {
    top: 50%;
    width: 12%;
    margin-top: -20px;
    opacity: 1
}

.post-content p {
    font-size: 14px;
    margin-bottom: 30px
}

.post-content .hvr-underline-from-center {
    overflow: initial
}

.post-content .hvr-underline-from-center:before {
    background: #666;
    height: 1px;
    bottom: -1px
}

.post-content .hvr-underline-from-left:before {
    background: #666;
    height: 1px
}

.post-content .read-more a {
    color: #ddbe86;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid transparent;
    border-bottom-color: #ddbe86;
    margin-bottom: 20px
}

.post-content .read-more a:hover {
    color: #666
}

.slide .right-arrow {
    right: 0;
    left: auto
}

.slide .left-arrow .fa, .slide .right-arrow .fa {
    font-size: 28px;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 36px
}

.audio-post iframe {
    width: 100%;
    height: 147px;
    border: none
}

.post-footer {
    padding-bottom: 10px
}

.post-footer .post-comment-count a {
    color: #999;
    font-size: 13px;
    position: relative;
    margin-left: 25px
}

.post-footer .post-comment-count a:hover {
    color: #ddbe86
}

.post-footer .post-comment-count a:before {
    content: '\f0e5';
    font-family: FontAwesome;
    font-size: 16px;
    color: #ddbe86;
    display: inline-block;
    position: absolute;
    left: -25px
}

.grid-style-post .post-time time:before, .list-style-post .post-time time:before {
    content: '\f017';
    font-family: FontAwesome;
    font-size: 16px;
    left: -25px;
    display: inline-block
}

.post-footer .post-social-share .post-social-list-item a {
    color: #ddbe86;
    font-size: 16px;
    margin-left: 5px
}

.post-footer .post-social-share .post-social-list-item a:hover {
    color: #666
}

.grid-style-post {
    border-bottom: 1px solid transparent;
    min-height: 700px
}

.grid-style-post .post-header .post-categoris a {
    background-color: #eee;
    font-weight: 700;
    letter-spacing: .1em;
    color: #999
}

.grid-style-post .post-time time {
    position: relative;
    margin-left: 25px
}

.grid-style-post .post-time time:before {
    color: #ddbe86;
    position: absolute
}

.grid-style-post .post-footer {
    border-top: 1px solid #eee;
    padding-top: 20px
}

.list-style-post {
    padding-bottom: 40px
}

.list-style-post .post-content {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 20px
}

.list-style-post .post-header .post-categoris a {
    background-color: #eee;
    font-weight: 700;
    letter-spacing: .1em;
    color: #999
}

.list-style-post .post-content .read-more a, .list-style-post .post-content p {
    margin-bottom: 15px
}

.list-style-post .small-underline {
    margin: 30px 0 25px
}

.list-style-post .post-time time {
    position: relative;
    margin-left: 25px
}

.list-style-post .post-time time:before {
    color: #ddbe86;
    position: absolute
}

.list-style-post .slide .right-arrow {
    right: 15px
}

.list-style-post .slide .left-arrow {
    left: 15px
}

.quote-post .quote blockquote {
    border: 1px solid #ddbe86;
    padding: 70px 50px 60px;
    margin: 0;
    text-align: center
}

.widget-content .widget-about p, .widget-social {
    margin-top: 20px
}

.quote-post .quote blockquote:before {
    font-family: 'Lora', serif;
    font-weight: 600;
    content: '\201D' !important;
    color: #ddbe86;
    font-size: 90px;
    line-height: 95px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
    left: auto
}

.quote-post .quote blockquote h3 {
    text-transform: none;
    font-style: italic;
    margin-bottom: 20px
}

.quote-post .quote blockquote h4 {
    color: #ddbe86;
    font-size: 12px;
    letter-spacing: .03em;
    font-weight: 700
}

.post-pagination .newer-post, .post-pagination .older-post {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #888
}

.post-pagination .newer-post:hover, .post-pagination .older-post:hover {
    color: #ddbe86
}

.post-pagination .newer-post:before, .post-pagination .older-post:after {
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 16px;
    color: #888;
    display: inline-block
}

.post-pagination .newer-post:before {
    content: '\f104';
    margin-right: 15px
}

.post-pagination .older-post:after {
    content: '\f105';
    margin-left: 15px
}

.post-pagination .next-post {
    text-align: right;
    float: right;
}

.category-item a, .instagram-feed, .pagination-list, .widget-content .widget-about, .widget-social, .widget-social .widget-social-list-item a, .widget-subscribe, .widget-title {
    text-align: center
}

.pagination-list a {
    color: #666;
    margin-left: 10px;
    font-size: 14px
}

.prev-post {
    float: left;
}

.pagination-list a.active, .pagination-list a:hover {
    color: #ddbe86
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
    opacity: 0
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.carousel-fade .carousel-control {
    z-index: 2
}

aside {
    margin-bottom: 40px
}

.widget-title {
    letter-spacing: .05em;
    display: table;
    width: 100%;
    white-space: nowrap;
    overflow: hidden
}

.widget-title:after, .widget-title:before {
    border-top: 1px solid #ddbe86;
    content: '';
    display: table-cell;
    position: relative;
    width: 45%;
    -webkit-transform: translateY(47%);
    -moz-transform: translateY(47%);
    -ms-transform: translateY(47%);
    -o-transform: translateY(47%)
}

.widget-title:before {
    right: 12px
}

.widget-title:after {
    left: 12px
}

.widget-header {
    margin-bottom: 30px
}

.widget-content {
    overflow: hidden
}

.footer-widget .widget-content {
    border-bottom: 1px solid #ddbe86;
    min-height: 330px;
    margin-bottom: 60px
}

.widget-content .widget-about img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto
}

.widget-social .widget-social-list-item a {
    height: 34px;
    width: 34px;
    display: inline-block;
    border: 1px solid #ddbe86;
    margin-bottom: 10px;
    color: #ddbe86;
    border-radius: 50%
}

.widget-social .widget-social-list-item a:hover {
    background-color: #ddbe86;
    color: #fff
}

.widget-social .widget-social-list-item a i {
    line-height: 32px
}

.widget-instagram {
    margin-right: -13px
}

.widget-instafeed {
    padding: 0
}

.widget-instafeed li a img {
    width: 100%
}

.widget-instafeed li {
    float: left;
    width: 33.333333%;
    list-style: none;
    padding: 0 10px 10px 0
}

#header-instafeed {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden
}

.instagram-feed {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px
}

.instagram-feed .widget-title {
    margin-top: 30px
}

.instagram-feed p {
    font-size: 14px;
    color: #858585;
    margin-bottom: 35px
}

.instagram-feed p a, .widget-categories ul li a:hover {
    color: #ddbe86
}

#header-instafeed .col-md-2 {
    margin: 0;
    padding: 0
}

#header-instafeed .col-md-2 img {
    width: 100%;
    height: auto
}

.widget-categories ul {
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6
}

.widget-categories ul li {
    padding: 10px 5px;
    border-bottom: 1px solid #f6f6f6
}

.widget-categories ul li:last-child {
    border-bottom: none
}

.widget-categories li a {
    color: #666;
    font-size: 14px
}

.widget-categories ul li a:before {
    font-size: 12px;
    content: '\f0da';
    font-family: FontAwesome;
    color: #ccc;
    margin-right: 15px
}

.child-categories li {
    padding-left: 40px !important
}

.widget-categories ul li .child-categories {
    border-top: none;
    border-bottom: none;
    padding-top: 10px
}

.widget-categories ul li .child-categories li {
    border-top: 1px solid #f6f6f6;
    border-bottom: none
}

.widget-categories ul li .child-categories li:last-child {
    margin-bottom: -10px
}

.widget-recent-post .recent-post-item {
    overflow: hidden;
    margin-bottom: 20px
}

.widget-recent-post .post-img img {
    width: 83px;
    height: 57px;
}

.widget-recent-post .post-meta {
    margin-left: 100px
}

.widget-recent-post .post-meta h3 {
    text-transform: none;
    margin-bottom: 5px;
    line-height: 21px
}

.widget-recent-post .post-meta .date {
    font-size: 12px;
    color: #999
}

.widget-archive #archive-select {
    width: 100%;
    border: 1px solid #ddd;
    color: #666;
    padding: 10px
}

.widget-archive #archive-select:focus {
    outline: transparent solid 1px
}

.post-tag a, .widget-tag a {
    font-size: 13px !important;
    display: inline-block;
    padding: 7px 10px;
    border: 1px solid #eee;
    color: #666;
    margin-right: 5px;
    margin-bottom: 5px
}

.post-tag a:hover, .widget-tag a:hover {
    color: #ddbe86;
    border: 1px solid #ddbe86
}

.widget-subscribe p {
    margin-bottom: 20px
}

.widget-subscribe form input[type=text], .widget-subscribe form input[type=email] {
    width: 100%;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px
}

.widget-tweet .tweet {
    overflow: hidden;
    min-height: 300px
}

.widget-tweet .tweet a {
    color: #ddbe86
}

.widget-tweet .tweet ul li {
    margin-bottom: 40px;
    position: relative;
    padding-left: 60px
}

.widget-tweet .tweet ul li:before {
    font-family: FontAwesome;
    content: '\f099';
    font-size: 48px;
    position: absolute;
    color: #f7f7f7;
    left: 0;
    top: -10px
}

.widget-tweet .tweet .date {
    padding-left: 20px;
    margin-top: 10px;
    position: relative
}

.widget-tweet .tweet .date:before {
    font-family: FontAwesome;
    content: '\f017';
    position: absolute;
    color: #ddbe86;
    left: 0
}

article blockquote p, article blockquote:before {
    font-family: 'Lora', serif
}

.product-search {
    height: 60px;
    position: relative
}

.product-search .search-box {
    padding: 15px 50px 15px 15px;
    width: 100%;
    border: 1px solid #eee;
    position: absolute
}

.product-search .search-btn {
    background: 0 0;
    border: none;
    color: #222;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    z-index: 2
}

.shop-filter {
    padding: 5px 10px;
    overflow: hidden
}

.ui-slider .ui-slider-handle {
    width: 10px;
    height: 14px
}

span.ui-slider-handle.ui-state-default.ui-corner-all {
    border: none;
    border-radius: 0;
    background: #ddbe86
}

span.ui-slider-handle.ui-state-default.ui-corner-all:focus {
    outline: 0
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: 0 0
}

.shop-filter #amount {
    font-weight: 400 !important;
    font-size: 14px;
    width: 100px;
    margin-top: 10px
}

.shop-filter p {
    margin-top: 30px
}

.shop-filter #slider-range {
    border-radius: 0;
    background-color: #f7f7f7;
    border: none;
    height: 5px
}

.shop .sale:after, .shop-filter .button {
    letter-spacing: .1em;
    background-color: #ddbe86
}

.shop-filter .button {
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #ddbe86;
    color: #fff !important;
    float: right
}

.blog-categoris, .trending-item .post-img {
    background-color: #f7f7f7
}

.author-box, .related-post, .single-post {
    border-bottom: 1px solid #eee
}

.trending-products .trending-item {
    overflow: hidden;
    margin-bottom: 10px
}

.trending-item .post-img {
    float: left;
    width: 60px;
    height: 75px;
    position: relative
}

.trending-item .post-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px
}

.trending-item .post-meta {
    margin-left: 75px
}

.trending-item .post-meta h3 {
    text-transform: none;
    margin: 10px 0 5px;
    line-height: 21px;
    font-size: 15px
}

.trending-item .post-meta span {
    font-size: 14px;
    font-weight: 700;
    color: #ddbe86
}

.blog-categoris .col-md-3 {
    margin: 30px 0
}

.category-item a, .category-item:before {
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0
}

.category-item {
    position: relative
}

.category-item:before {
    content: '';
    background-color: rgba(17, 17, 17, .3);
    position: absolute;
    transition: all .3s
}

.category-item img {
    width: 100%
}

.category-item a {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    color: #fff !important;
    position: absolute;
    padding-top: 50%
}

.category-item:hover:before {
    background-color: rgba(211, 190, 134, .9)
}

.single-post {
    margin-bottom: 20px;
    padding-bottom: 5px
}

article.single-post p {
    text-align: left
}

article blockquote {
    position: relative;
    display: block;
    border-left: none;
    margin: 50px 0
}

article blockquote:before {
    font-weight: 600;
    content: '\201C' !important;
    color: #ddbe86;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0
}

article blockquote p {
    font-size: 15px;
    font-style: italic
}

.post-tag {
    margin: 50px 0
}

.post-footer .post-social-share span {
    margin-right: 20px;
    color: #999
}

.post-footer .post-like {
    float: left
}

.post-footer .post-like a {
    color: #999;
    font-size: 13px;
    position: relative;
    margin-left: 25px
}

.post-footer .post-like a:hover {
    color: #ddbe86
}

.post-footer .post-like a:before {
    content: '\f004';
    font-family: FontAwesome;
    font-size: 16px;
    color: #ddbe86;
    display: inline-block;
    position: absolute;
    left: -25px
}

.author-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 60px
}

.related-post, .related-post-item {
    padding-bottom: 30px
}

.author-box .author-avatar {
    height: auto;
    margin-right: 10px;
    margin-bottom: 20px
}

.author-box .author-bio h3 {
    text-transform: none;
    margin-bottom: 12px
}

.author-box .author-bio h3 a {
    color: #111
}

.author-box .author-bio p {
    margin-bottom: 12px
}

.author-box .author-bio p.email a {
    color: #ddbe86;
    font-size: 13px
}

.related-post {
    margin-bottom: 60px
}

.related-post .title {
    margin-bottom: 40px;
    text-align: center
}

.related-post-item img {
    margin-bottom: 20px
}

.related-post-item h3 {
    font-size: 16px;
    margin-bottom: 7px;
    line-height: 1.3em;
    text-transform: none
}

.related-post-itemt .date {
    font-size: 12px;
    color: #999;
    margin-top: 10px
}

.single-post-comments .title {
    text-align: center;
    margin-bottom: 60px
}

.single-post-comments .single-comment {
    padding-bottom: 30px;
    position: relative
}

.single-post-comments .comment-wrap {
    padding-bottom: 40px;
    border-bottom: 1px solid #eee
}

.single-post-comments .comment-wrap .comment-author {
    float: left;
    width: 100px;
    height: auto
}

.single-post-comments .comment-wrap .comment-content {
    margin-left: 120px
}

.single-post-comments .comment-wrap .comment-content .name {
    text-transform: none;
    margin-bottom: 12px
}

.single-post-comments .comment-wrap .comment-content .date {
    margin-bottom: 15px;
    font-size: 13px;
    color: #999
}

.single-post-comments .comment-wrap .comment-content .comment {
    line-height: 28px;
    color: #858585
}

.single-post-comments .comment-wrap .comment-content .reply-link {
    position: absolute;
    top: 0;
    right: 0;
    color: #ddbe86
}

.single-post-comments .comment-wrap .comment-content .reply-link:hover {
    color: #858585
}

.single-post-comments .single-comment .child .level-2 {
    margin-top: 40px
}

.write-a-comment {
    margin-top: 30px
}

.write-a-comment .title {
    text-align: center;
    margin-bottom: 35px
}

.write-a-comment .comment-form .field {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px 20px;
    font-size: 13px
}

.write-a-comment .comment-form .text {
    height: 50px;
    margin-bottom: 15px
}

.write-a-comment .comment-form .textarea {
    margin-bottom: 15px
}

.write-a-comment .comment-form .form-submit {
    text-align: center;
    margin-bottom: 15px
}

.masonary-gallery {
    display: block;
    overflow: hidden
}

.grid-sizer {
    width: 33.333%
}

.masonary-gallery .one-three-half {
    width: 33.333%;
    height: auto;
    display: block;
    padding: 0 10px 10px 0
}

.shop {
    margin-bottom: 60px
}

.product-item {
    text-align: center;
    margin-bottom: 40px
}

.shop .product-carousel {
    margin-top: 65px
}

.shop .thumb-img {
    background-color: #f7f7f7;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    min-height: 320px;
    position: relative
}

.shop .thumb-img:before {
    content: '';
    cursor: pointer;
    margin: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all .3s ease
}

.shop .thumb-img:hover:before {
    background-color: rgba(255, 255, 255, .9)
}

.shop .thumb-img img {
    margin-left: auto;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px
}

.shop .thumb-img .add-to-cart {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 50%;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease
}

.shop .thumb-img .add-to-cart a {
    font-weight: 700;
    color: #ddbe86;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-bottom: 1px solid #ddbe86;
    padding-bottom: 4px
}

.shop .thumb-img .add-to-cart a:hover {
    color: #868686;
    border-bottom: 1px solid #868686
}

.shop .thumb-img:hover .add-to-cart {
    opacity: 1;
    visibility: visible
}

.shop .sale:after {
    content: "sale";
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1
}

.shop .owl-carousel .owl-item img {
    width: auto !important
}

.shop .product-item h3 {
    text-transform: none;
    font-size: 18px;
    margin-bottom: 15px
}

.shop .product-item span {
    font-size: 14px;
    font-weight: 700;
    color: #ddbe86
}

.owl-controls {
    text-align: center;
    margin: 0 auto;
    display: table
}

.owl-dot {
    width: 11px;
    height: 11px;
    background-color: #eee;
    border-radius: 50%;
    float: left;
    margin: 20px 3px
}

.owl-dot.active {
    background-color: #ddbe86
}

.shop-page .page-title {
    background-image: url(../images/shop-header.jpg);
    min-height: 200px;
    width: 100%;
    margin-bottom: 50px;
    position: relative
}

.shop-page .page-title h1 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .05em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.product-gallery {
    margin-bottom: 50px
}

.product-gallery .tab-content {
    margin-bottom: 8px
}

.product-gallery .tab-content .simpleLens-big-image-container {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    display: block
}

.product-gallery .tab-content .simpleLens-lens-image {
    width: 100% !important
}

.product-gallery .nav-tabs .tab-img {
    width: 100px;
    height: 125px;
    margin-right: 6px
}

.product-gallery .nav > li > a {
    padding: 0;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center
}

.product-gallery .nav-tabs > li.active > a, .product-gallery .nav-tabs > li.active > a:focus, .product-gallery .nav-tabs > li.active > a:hover {
    background-color: #f7f7f7;
    border: none;
    border-bottom-color: transparent
}

.product-gallery .nav-tabs > li > a, .product-gallery .nav-tabs > li > a:focus, .product-gallery .nav-tabs > li > a:hover {
    background-color: #f7f7f7;
    border: none;
    border-radius: 0
}

.product-gallery .nav-tabs .tab-img img {
    padding: 10px;
    width: 100%;
    height: auto
}

.product-short-desc .price-details, .product-short-desc .title {
    margin-bottom: 35px
}

.product-short-desc .price-details del {
    margin-left: 10px;
    font-weight: 700
}

.product-short-desc .desc {
    line-height: 28px;
    margin-bottom: 25px
}

.product-short-desc .add-to-cart {
    margin-bottom: 34px
}

.product-short-desc .add-to-cart .quantity {
    width: 70px;
    height: 40px;
    text-align: center;
    border: 1px solid #eee;
    margin-right: 18px
}

.product-short-desc .price span {
    color: #ddbe86;
    font-weight: 700
}

.product-short-desc .product-cat {
    margin-bottom: 50px
}

.product-short-desc .product-cat li {
    font-size: 14px;
    color: #bbb;
    border-top: 1px solid #eee;
    padding: 12px 0
}

.product-short-desc .product-cat li:last-child {
    border-bottom: 1px solid #eee
}

.product-short-desc .product-cat li a {
    color: #bbb
}

.product-short-desc .product-cat li span {
    color: #858585
}

.product-long-desc {
    margin-bottom: 65px
}

.product-long-desc .tab-content {
    border-top: 1px solid #eee;
    padding-top: 15px
}

.product-long-desc .tab-content p {
    line-height: 28px
}

.product-long-desc .nav-tabs > li.active > a, .product-long-desc .nav-tabs > li.active > a:focus, .product-long-desc .nav-tabs > li.active > a:hover {
    color: #ddbe86;
    border: none
}

.product-long-desc .nav-tabs > li > a, .product-long-desc .nav-tabs > li > a:focus, .product-long-desc .nav-tabs > li > a:hover {
    border: none;
    color: #878787;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em
}

.product-long-desc .nav > li > a:focus, .product-long-desc .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    border: none
}

.product-long-desc .nav-tabs > li {
    margin-bottom: 10px
}

.product-long-desc .nav-tabs > li > a:hover {
    border-color: transparent
}

.product-long-desc .nav > li > a {
    padding: 3px 15px;
    border-right: 1px solid #eee !important
}

.product-long-desc .nav > li:first-child > a {
    padding: 3px 15px 3px 0
}

.product-long-desc .nav > li:last-child > a {
    border-right: none !important
}

.recent-viewed .title {
    margin-bottom: 30px
}

.recent-viewed .shop .thumb-img {
    position: relative
}

.shopping-cart, .shopping-cart .title {
    margin-bottom: 50px
}

.cart-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.cart-table span {
    color: #ddbe86;
    font-weight: 700
}

.shopping-cart tr {
    border-bottom: 1px solid #eee
}

.shopping-cart tr th {
    background-color: #eee;
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lora', serif;
    font-weight: 400
}

.shopping-cart tr td, .shopping-cart tr th {
    text-align: center;
    padding: 10px
}

.shopping-cart .trending-item {
    height: 75px;
    display: table;
    margin: 0 auto
}

.shopping-cart .trending-item h3 {
    margin-top: 25px
}

.shopping-cart td .item-close:before {
    font-family: FontAwesome;
    content: '\f00d';
    color: #999
}

.about blockquote p, .about blockquote:before, .contact address p, .payment-method #payment-form label, .your-order .table-order thead th {
    font-family: 'Lora', serif
}

.shopping-cart .quantity {
    width: 70px;
    height: 40px;
    text-align: center;
    border: 1px solid #eee
}

.shopping-cart .cart-button {
    margin-bottom: 80px;
    text-align: right
}

.cart-actions .title {
    margin-bottom: 25px
}

.cart-actions .cart-totals, .cart-actions .coupon, .cart-actions .input-box {
    margin-bottom: 30px
}

.cart-actions .coupon-code, .cart-actions .input-box select {
    width: 90%;
    border: 1px solid #eee;
    padding: 13px;
    margin-bottom: 10px
}

.cart-totals .table-cart-total {
    width: 100%
}

.cart-totals .table-cart-total tr:first-child {
    border-top: 1px solid #eee
}

.cart-totals .table-cart-total tr td:first-child {
    text-align: left
}

.copyright, .footer-menu ul, .footer-widget-video, .scrollToTop {
    text-align: center
}

.checkout-page {
    margin-bottom: 70px
}

.checkout-header {
    margin-bottom: 50px
}

.checkout-header .title {
    margin-bottom: 30px
}

.checkout-header p {
    margin-bottom: 10px
}

.checkout-header p a {
    color: #ddbe86;
    margin-left: 10px
}

.billing-details {
    margin-bottom: 60px
}

.billing-details .customer-details, .billing-details .title {
    margin-bottom: 30px
}

.billing-details input, .billing-details select, .billing-details textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px
}

.billing-details .create-account {
    color: #ddbe86;
    position: relative;
    padding-left: 25px
}

.shipping-details .different-address {
    position: relative;
    padding-left: 25px;
    margin-bottom: 26px;
    line-height: 17px
}

.about, .contact {
    border-bottom: 1px solid #eee;
    line-height: 28px
}

.customer-details .create-account:before, .shipping-details .different-address:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #eee
}

.customer-details .create-account:hover {
    color: #858585
}

.your-order {
    margin-bottom: 65px;
    overflow: hidden
}

.your-order .title {
    margin-bottom: 30px
}

.your-order .table-order {
    width: 100%;
    max-width: 100%
}

.your-order .table-order thead th {
    text-transform: uppercase;
    font-weight: 400;
    color: #111;
    background-color: #eee;
    padding: 10px 10px 10px 40px
}

.your-order .table-order tr th:first-child {
    width: 75%
}

.your-order .table-order tbody tr {
    border-top: 1px solid #eee
}

.your-order .table-order tr td {
    padding: 20px 10px 20px 40px
}

.your-order .table-order tr td:last-child {
    color: #ddbe86
}

.your-order .table-order tfoot td {
    background-color: #f9f9f9
}

.payment-method #payment-form input {
    float: left;
    margin: 6px 12px 0 0
}

.payment-method #payment-form input#paypal {
    margin-top: 14px
}

.payment-method #payment-form label {
    font-weight: 400;
    font-size: 16px;
    color: #111
}

.payment-method #payment-form .form-list p {
    margin-left: 25px
}

.payment-method #payment-form .form-list li {
    margin-bottom: 25px
}

.payment-method #payment-form .form-list img {
    margin-left: 15px;
    display: inline-block
}

.about {
    margin-top: 70px;
    padding-bottom: 40px
}

.about p {
    margin-bottom: 60px
}

.about blockquote {
    position: relative;
    display: block;
    border-left: none;
    margin: 0 0 50px;
    padding: 70px 0 0
}

.contact p, .contact-form {
    margin-bottom: 30px
}

.contact, .footer-widget {
    margin-top: 70px
}

.about blockquote:before {
    font-weight: 600;
    content: '\201C' !important;
    color: #ddbe86;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0
}

.about blockquote p {
    font-style: italic
}

.contact {
    padding-bottom: 40px
}

.contact address p {
    font-size: 21px;
    color: #212121;
    font-style: italic;
    line-height: 38px
}

.contact-form .form .field {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px 20px;
    font-size: 13px;
    line-height: 20px
}

.contact-form .form .text {
    height: 50px;
    margin-bottom: 20px;
    line-height: 20px
}

.contact-form .form .textarea {
    margin-bottom: 10px
}

.contact-form .form .text:focus, .contact-form .form .textarea:focus {
    border: 1px solid #ddbe86
}

.contact-form .form .form-submit .submit {
    color: #ddbe86 !important;
    background: #fff;
    border: 1px solid #ddbe86;
    padding: 8px 25px;
    letter-spacing: .05em
}

.contact-form .form .form-submit .submit:hover {
    color: #fff !important;
    background: #ddbe86
}

.footer-menu {
    background-color: #f7f7f7
}

.footer-menu ul {
    margin: auto;
    display: table
}

.footer-menu ul li {
    padding: 25px 0;
    float: left
}

.footer-menu ul li a {
    border-right: 1px solid #929292;
    padding: 0 10px;
    color: #666;
    font-size: 11px;
    text-transform: uppercase
}

.footer-menu ul li a:hover {
    color: #ddbe86
}

.footer-menu ul li:last-child a {
    border: none
}

.footer-widget-video p {
    margin-bottom: 30px
}

.footer-widget-video img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

.scrollToTop {
    background-color: #ddbe86;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 24px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 999999
}

.scrollToTop:hover {
    color: #fff
}

.scrollToTop i {
    line-height: 30px;
    position: absolute;
    left: 0;
    right: 0
}

.copyright {
    color: #111;
    font-size: 12px;
    padding: 30px 0
}

.copyright a {
    color: #ddbe86
}